@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body { 
  color: red;
  background-color: rgb(44, 44, 44);
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

#controls {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

.control-div {
  display: flex;
  flex-direction: column;
}

.control-buttons-div {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#break-label {
  margin: 0;
}

#session-label {
  margin: 0;
}

#timer {
  font-size: 5vw;
}

#clock-display {
  margin: 0;
}

#icon {
  font-size: 2vw;
}

#start-stop-reset-controls {
  display: flex;
}

.bi {
  font-size: 3vw;
}

.bi-arrow-clockwise {
  font-size: 2vw
}